:host {
  --chrome-height: 200px;
}

.signature {
   display: flex;
   flex-direction: column;

  .signature-canvas-container {

    canvas {
      border: 2px solid #ccc;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - var(--chrome-height));
    }
  }

  .buttons-wrapper {
    display: flex;
    justify-content: end;
    padding: 8px;
    gap: 1rem;
  }
}

@media (min-width: 769px) and  (min-height: 769px) {
  .signature {
    width: 600px;
    height: 400px;
    margin-top: 2em;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

    .signature-canvas-container {

      canvas {
        height: 300px;
      }
    }
  }
}
