<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>    </ion-buttons>
    <ion-title>signature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signature">
    <div class="signature-canvas-container">
      <canvas #signatureCanvas></canvas>
    </div>
    <div class="buttons-wrapper">
      <ion-button color="dark" (click)="clearSignature()">Clear</ion-button>
      <ion-button color="primary" (click)="saveSignature()">Save</ion-button>
    </div>
  </div>
</ion-content>
